{% extends 'base.html' %}

{% block content %}

<div class="text-center h1 text-primary">{{nome}}</div>

{% include '_nav.html' %}

<table class="table">
  <tbody>
    <tr><td>Psicopedagogo</td><td>Paciente</td><td>Sala</td><td>Data e Hora</td></tr>
    <tr>
      <td>{{atendimento.psicopedagogo.pessoa.nome}}</td>
      <td>{{atendimento.paciente.pessoa.nome}}</td>
      <td>{{atendimento.sala.nome}}</td>
      <td>{{atendimento.data_hora}}</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr><td colspan="4" class="text-center">Observações</td></tr>
    <tr aria-rowspan="5" style="height: 300px;"><td colspan="4" class="text-center">{% if atendimento.obs %}{{atendimento.obs}} {% endif %}</div></tr>
    <tr><td colspan="2"><a class="btn float-left btn-primary" href={{url_for('editar_atendimento', ID = atendimento.atendimento_ID)}}>Editar</a></td>
        <td colspan="2"><a class="btn float-right btn-danger" href={{url_for('apagar_atendimento', ID = atendimento.atendimento_ID)}}>Apagar</a></td>
    </tr>
  </tbody>
</table>

{% endblock content %}