<html>
    <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
   // let mensagem = document.querySelector(".mensagem") ;
 
// mostra a mensagem
function showMessage(){  
  //alert('degdegeh');
  $("#merda").css("display","block");
 }
// esconde a mensagem
function hideMessage(){
  $("#merda").css("display","none");
}
</script>

<link href="teste.css" rel="stylesheet">
</head>
<body>
  <input type="email" value="discrepancia" class="edit">
<button type="button" onclick="showMessage();">
  Exemplo
</button>
  <div id="merda" class="xcss" >Olá mundo</div>
  
</body>
</html>